@page "/"

<h1>Simple benchmark, sources can be accessed on <a href="https://github.com/ivanivanyuk1993/blazor-simple-benchmark">https://github.com/ivanivanyuk1993/blazor-simple-benchmark</a></h1>

<pre>
@cSharpBenchmarkIntsText
</pre>
<button class="btn btn-primary" @onclick="BenchmarkInts">Run C# benchmark with ints</button>

<pre>
@cSharpBenchmarkDoublesText
</pre>
<button class="btn btn-primary" @onclick="BenchmarkDoubles">Run C# benchmark with doubles</button>

<pre>
@jsBenchmarkText
</pre>
<button class="btn btn-primary" onclick="@jsBenchmarkText">Run JavaScript benchmark</button>
